*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Poppins",sans-serif;
  background:#f7f9fc;
  overflow-x:hidden;
}

a{
  text-decoration:none;
  color:inherit;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#1976d2;
  border-radius:20px;
}